[[source]]
url = "https://nexus.opr.statefarm.org/repository/pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
